
<div class="home-page-container">
  <div class="home-page-content">
      <h1 class="home-page__title">FRONT END DEVELOPER</h1>
      <p class="home-page__subtitle">Hi there! I'm currently based in the Netherlands, looking for
        opportunities to boost my career as a front end developer.
      </p>
      <div class="home-page__cv-button">
        <a [href]="cvDownloadUrl" target="_blank" class="home-page__cv-button--style">
          <span>DOWNLOAD CV</span>
        </a>
      </div>
  </div>
</div>

<div id="particles-js"></div>
