<div class="section my-experience__container">
  <h1 class="display-4">MY EXPERIENCE</h1>
  <hr>

  <div class="my-experience__content">

    <div class="overview">
      <p class="lead">
        I started my career as a front end developer in 2016. In this short span of time I have been an integral part of
        three major projects.
      </p>
    </div>

    <div class="experience-list lead" *ngFor="let experience of myExperienceList">
      <p class="font-weight-bold"> {{ experience.project | uppercase}} {{ experience.duration }} :</p>
      <p>{{ experience.description }}</p>
      <p>Technologies used :
        <span *ngFor="let tech of experience.technology; last as isLast">{{ tech }}<span *ngIf="!isLast">, </span>
        </span>
      </p>
    </div>

  </div>
</div>