<div class="section my-experience__container">
  <h1 class="display-4">MY EXPERIENCE</h1>
  <hr>

  <div class="my-experience__content">

    <div class="overview">
      <p class="lead">
        I started my career as a front end developer in 2016. In this short span of time I have been an integral part of
        three major projects.
      </p>
    </div>

    <div class="experience-list" *ngFor="let item of myExperienceList">
      <p class="lead">
        <span class="font-weight-bold"> {{ item.project | uppercase}} {{ item.duration }} :</span>
        <br>
        {{ item.description }}
        <br>
        Technologies used : {{ item.technology }}</p>
    </div>

  </div>
</div>