<div class="socialProfiles__container">
        <ul class="list-group list-group-flush socialProfiles__content">

                <li><a data-toggle="tooltip" title="Mobile" href="tel:+31682304814" target="_blank">
                                <i class="fas fa-mobile-alt"></i>
                                &emsp;(+31) 682304814</a>
                </li>

                <li><a data-toggle="tooltip" title="Email" href="mailto:abhishek.kr.mehta1@gmail.com" target="_blank">
                                <i class="fas fa-envelope"></i>
                                &emsp;abhishek.kr.mehta1@gmail.com</a>
                </li>

                <li><a data-toggle="tooltip" title="LinkedIn" href="https://www.linkedin.com/in/abhishekkumarmehta"
                                target="_blank">
                                <i class="fab fa-linkedin"></i>
                                &emsp;linkedin.com/in/abhishekkumarmehta</a>
                </li>

                <li><a data-toggle="tooltip" title="GitHub" href="https://github.com/AbhishekKrMehta" target="_blank">
                                <i class="fab fa-github"></i>
                                &emsp;github.com/AbhishekKrMehta</a>
                </li>

                <li><a data-toggle="tooltip" title="Facebook" href="https://www.facebook.com/abhishek.kr.mehta1"
                                target="_blank">
                                <i class="fab fa-facebook"></i>
                                &emsp;fb.com/abhishek.kr.mehta1</a>
                </li>

        </ul>
</div>