.my-skills {
  &__container {
    background: #1e1e1e;

    .technology,
    .proficiency,
    .brackets,
    .skill-item,
    .variable-name,
    h1,
    h3 {
      color: #9cdcfe;
    }

    .technology-name,
    .proficiency-level {
      color: #ce9178;
    }
    .comma {
      color: white;
    }

    // & .primary-skills {
    //   width: 45%;
    // }

    // & .other-skills {
    //   width: 45%;
    // }
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
